<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html"
        ><img src="./img/logo.svg" alt="logo" width="120"
      /></a>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="./form-page.html" class="nav-link">Form page</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
