
.feedback .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}

.feedback-video,
.feedback-info {
  flex-basis: 50%;
  width: 100%;
}

.feedback-iframe-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.feedback-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.feedback-radio-wrapper {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.feedback-radio-wrapper,
.feedback-comment-wrapper,
.feedback-choice-wrapper {
  margin-top: 16px;
}

.feedback-stars,
.feedback-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-comment-field {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.feedback-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
