<section class="feedback">
  <div class="container">
    <div class="feedback-video">
      <div class="feedback-iframe-wrapper">
        <iframe
          class="feedback-iframe"
          title="YouTube video player"
          src="https://www.youtube.com/embed/9GkGbj6xNhs"
        ></iframe>
      </div>
    </div>
    <div class="feedback-info">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ullam
        amet doloribus culpa itaque voluptates accusantium optio odit debitis
        commodi! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Corporis, ea.
      </p>

      <form class="feedback-form" name="feedback">
        <label class="visually-hidden"
          >feedback form
          <input type="text" name="widget" value="feedback" />
        </label>

        <div class="feedback-radio-wrapper">
          <p class="feedback-form-text">
            Наскільки цей продукт може допомогти тобі покращити онлайн зустрічі?
          </p>
          <label class="feedback-stars"
            >1
            <input type="radio" name="stars" value="1" required />
          </label>
          <label class="feedback-stars"
            >2
            <input type="radio" name="stars" value="2" />
          </label>
          <label class="feedback-stars"
            >3
            <input type="radio" name="stars" value="3" />
          </label>
          <label class="feedback-stars"
            >4
            <input type="radio" name="stars" value="4" />
          </label>
          <label class="feedback-stars"
            >5
            <input type="radio" name="stars" value="5" />
          </label>
        </div>

        <div class="feedback-radio-wrapper">
          <p class="feedback-form-text">
            Хочеш бути в списку перших користувачів безкоштовно?
          </p>
          <label class="feedback-choice"
            >Ні
            <input type="radio" name="subscribe" value="false" required />
          </label>
          <label class="feedback-choice"
            >Так
            <input type="radio" name="subscribe" value="true" />
          </label>
        </div>

        <div class="feedback-choice-wrapper">
          <p class="feedback-form-text">
            Залиште вашу електронну пошту для зв'язку:
          </p>
          <label class="feedback-email"
            >Email:
            <input type="email" name="email" required />
          </label>
        </div>

        <div class="feedback-comment-wrapper">
          <label class="feedback-comment" for="user-text-id"
            >Ваш коментар:</label
          >
          <textarea
            class="feedback-comment-field"
            name="comment"
            id="user-text-id"
            placeholder="Залиште коментар"
          ></textarea>
        </div>

        <div class="feedback-btn-wrapper">
          <button class="feedback-btn btn" type="submit">надіслати</button>
        </div>
      </form>
    </div>
  </div>
</section>
